<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.thunder.model.dao.BoardDao">
	<select id="selectAllBoard" parameterType="int" resultType="Board">
		SELECT * FROM board
		WHERE schedule_id = #{scheduleId};
	</select>
	
	<select id="selectBoard" parameterType="map" resultType="Board">
		SELECT * FROM board
		WHERE schedule_id = #{scheduleId} AND id = #{boardId};
	</select>
	
	<insert id="insertBoard" parameterType="Board">
		INSERT INTO board (title, content, user_id, schedule_id)
		VALUE (#{title}, #{content}, #{userId}, #{scheduleId});
	</insert>
	
	<select id="validate" parameterType="map">
		SELECT IFNULL(COUNT(*), 0) FROM board
		WHERE schedule_id = #{scheduleId} AND id = #{boardId} AND user_id = #{userId};  
	</select>
	
	<update id="updateBoard" parameterType="Board">
		UPDATE board
		SET title=#{title}, content=#{content}
		WHERE schedule_id = #{scheduleId} AND id = #{id};
	</update>
	
	<delete id="deleteBoard" parameterType="map">
		DELETE FROM board
		WHERE schedule_id = #{scheduleId} AND id = #{boardId};
	</delete>
</mapper>