<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.thunder.model.dao.UserScheduleDao">
	<select id="validate" parameterType="map" resultType="int">
		SELECT IFNULL(COUNT(*), 0) FROM userSchedule
		where user_id = #{userId} AND schedule_id = #{scheduleId} AND status = 1;
	</select>
	
	<insert id="insertManager" parameterType="map">
		INSERT INTO userSchedule (user_id, schedule_id, status)
		VALUE (#{userId}, #{scheduleId}, 1)
	</insert>
</mapper>